body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #12181f;
  color: white;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}

p {
  font-size: 30px;
  font-weight: bold;
}

.utils {
  display: flex;
  justify-content: center;
  align-items: center;
}

.utils button {
  display: flex;
  align-items: center;
  height: 48px;
  width: 130px;
  padding: 16px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #27ae60;
  color: white;
  margin-left: 24px;
  cursor: pointer;
}

#lowestScore {
  margin-left: 24px;
}

#game {
  text-align: center;
  height: 75vh;
}

.card {
  display: inline-block;
  vertical-align: middle;
  background-color: grey;
  display: inline-block;
  border: 1px solid black;
  width: 140px;
  height: 180px;
  margin: 20px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

footer {
  margin: 40px 0;
  text-align: center;
}

footer a {
  color: #27ae60;
}